/* arabic */
/* header */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
/* body */
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");

/* English */
/* header */
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
/* body */
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #353535;
}

*[dir="ltr"] body {
  font-family: "Philosopher", serif;
}

*[dir="rtl"] body {
  font-family: "El Messiri", serif;
}

@layer components {
  .input {
    @apply w-full p-[10px] outline-none transition-all duration-300 placeholder:text-sm disabled:cursor-not-allowed disabled:bg-[#d1dae6];
    &:-webkit-autofill {
      -webkit-text-fill-color: #253b45;
      box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
      caret-color: #253b45;
    }
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  img {
    @apply object-cover object-center;
  }
}

.tableFooter {
  &:not(:has(*)) {
    display: none;
  }
}

/* scrollbar Styles */
*::-webkit-scrollbar {
  @apply w-[5px];
}
*::-webkit-scrollbar-track {
  @apply bg-primary;
}

*::-webkit-scrollbar-thumb {
  @apply bg-secondary;
}

/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  @apply w-[8px];
}

/* Horizontal scrollbar */
*::-webkit-scrollbar:horizontal {
  @apply h-[10px];
}

/* Scroll to top button */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-infinite {
  animation: bounce 2s infinite;
}
